//
// Variables
// --------------------------------------------------

////// Message Box Colors
$ev-msg-border-color:             #dedede;
$ev-msg-background-color:         #f1f1f1;
$ev-msg-label-color:              #aaa;


///// App Sections Colors
$ev-section-border-color:         #b2b2b2;
$ev-section-background-color:     #f8f8f8;